* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.home::before {
    content: '';
    background-image: url(../assets/img/mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.home {
    background-color: #7b5f7b7c;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding:  10px;
    width: 80%;

    .logo {
        width: 35px;
        height: 100%;
    }

    .celsus-fahrenheit-menu {
        display: flex;
        gap: 50%;
        justify-content: center;
        font-weight: 600;
        background-color: #9e76b8b0;
        border-radius: 15px;
        width: 80px;
        position: relative;
    }

    .celsus-change,
    .fahrenheit-change {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        cursor: pointer;
        color: #ffffff;
        pointer-events: none;
    }

    .current-metric {
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        font-size: 1.2rem;
        border-radius: 15px;
        background-color: #7480ebbe;
        color: #f7ecad;
    }

    .current-metric.celsus {
        left: 0;
    }

}

.search-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5974bd36;
    border-bottom: 2px solid #405f85a4;
    padding: 0 10px;

    i {
        color: #fff;
    }

    input {
        border-radius: 4px;
        outline: none;
        border: none;
        padding: 0.8rem 1rem;
        width: 100%;
        height: 30px;
        color: #ffffff;
        background-color: transparent;
    }

    input::placeholder {
        color: #fff;
    }
}

.forecast {
    max-height: calc(100vh - 75px);
    height: 97%;
    display: grid;
    grid-template-areas: "current-forecast next-days"
        "next-hours next-days";
    grid-template-columns: 65% auto;
    gap: 10px;
    padding: 5px 20px; 
}

.current-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    grid-area: current-forecast;
    color: #fff;
    .city-info {
        display: flex;
        gap: 8px;
        font-weight: 600;
        font-size: 1.2rem;
    }

    .date {
        font-size: .9rem;
    }

}

.forecast-info {
    width: 100%;

    .forecast-features {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
    }

    .temper {
        background-color: #0a0a0a85;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        color: #fff;
        text-align: center;
        width: 100%;
        padding: 0 10px;

        .description {
            display: flex;
            align-items: center;
            gap: 25px;
            justify-content: center;
        }

        .current-forecast-icon {
            width: 125px;
            height: 125px;
        }
    }

    .celsus-fahrenheit {
        font-size: 3.5rem;
        font-weight: 300;

        .current-condition {
            font-size: 1.2rem;
            padding-bottom: 10px;
        }
    }

    .min-max-condition {
        text-align: center;
        span {
            margin: 5px;
            font-weight: 300;
        }
    }

}

.today-conditions {
    background-color: #0a0a0a85;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #d3d3d3;
    border-radius: 10px;

    .weather-conditions {
        list-style: none;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
        padding: 0;
        color: #fff;
        justify-content: space-between;
        max-width: 600px;

        li {
            display: flex;
            flex-direction: column;
        }

        p {
            margin-bottom: 5px;
            color: #d3d3d3;
        }

        .conditions-icon {
            display: flex;
            gap: 5px;
            margin-bottom: 5px;
        }

        .condition-value {
            color: #e7e7e7;
        }
    }
}

@media (max-width:650px) {
    .current-forecast{
        gap: 5px;
    }
    
    .forecast-info .temper{
        flex-direction: column;
        align-items: center;
        padding: 5px;
        .current-forecast-icon{
            width: 85px;
            height: 65px;
        }
        .description{
            flex-direction: column;
            gap: 0;
            .celsus-fahrenheit{
                font-size: 1.8rem;
            }
        }
    }
}


@media (max-width:650px) {
    .forecast{
        display: flex;
        flex-direction: column;
    }
}